/* Start https://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/others/oth-9/oth907.cur), auto !important;} /* End https://www.cursors-4u.com */


body {
    background-image: url(https://i.pinimg.com/564x/56/9b/30/569b30c431076b2c100ff450c025533c.jpg);
    background-repeat: round;
}





