
.welcome-profile {
    text-align: center;
}

.user-picture {
    border-radius: 8%;
    border: 10px solid black;
    width: 30%;
    height: 35%;
}

.user-info-picture {
    text-align: right;
}

.user-info-container {
    display: flex;
    justify-content: space-between;
}

.user-info {
    flex: 1;
    margin-right: 20px;
    /* Adjust the margin as needed */
}


.user-info-bio {
    text-align: right;

}

.user-info-liked {
    text-align: center;
}

.user-info-friends {
    text-align: center;
}


.Unlike-btn {
    background-color:rgb(172, 6, 6);
    box-shadow: 0px 0px 2px 2px rgb(105, 6, 6);

}

.Unlike-btn:hover {
    background-color: rgb(105, 6, 6);
    transition: 0.7s;
} 


.user-bio {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(226, 230, 222);
}




.user-info-edit-btn {
    background-color:rgb(199, 155, 12);
    box-shadow: 0px 0px 2px 2px rgb(156, 123, 12);
    
}

.user-info-edit-btn:hover {
    background-color:rgb(156, 123, 12);
    transition: 0.7s;
}

