
.welcome-profile {
    text-align: center;
}

.user-picture {
    border-radius: 8%;
    border: 10px solid black;
    width: 30%;
    height: 35%;
}

.user-info-picture {
    text-align: right;
}

.user-info-container {
    display: flex;
    justify-content: space-between;
}

.user-info {
    flex: 1;
    margin-right: 20px;
    /* Adjust the margin as needed */
}


.user-info-bio {
    text-align: right;

}

.user-info-liked {
    text-align: left;
}

.user-info-friends {
    text-align: center;
}

.user-info-edit-btn {
    text-align: right;
    color: green;
}

.Unlike-btn {
    background-color:rgb(172, 6, 6);
    box-shadow: 0px 0px 2px 2px rgb(105, 6, 6);

}

.Unlike-btn:hover {
    background-color: rgb(105, 6, 6);
    transition: 0.7s;
} 